// _layout.scss

@use 'variables' as var;
@use 'mixins' as mix;

header, footer {
  background-color: var.$header-footer-bg; 
  padding: 15px;
  margin-bottom: 20px;
}

header {
  @include mix.mobile { 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

nav {
  margin: 10px;
  
  ul {
    list-style: none;
    @include mix.flexbox(row, space-evenly, center); 

    @include mix.mobile { 
      flex-direction: column;
      padding: 0;

      li {
        margin: 10px 0;
      }
    }
  }
}

main {
  background-color: var.$main-bg; 
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer {
  .footer-container {
    @include mix.flexbox(row, space-around, flex-start); 
    margin-bottom: 20px;

    @include mix.mobile { 
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
  
  .footer-right {
    @include mix.flexbox(row, center, center, 30px); 
  }

  .social-links {
    @include mix.flexbox(row, center, center, 35px);
    list-style: none;
  }
  
}
