// _mixins.scss

// Mixin para Flexbox
@mixin flexbox($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Mixin para Media Queries (responsive)
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}